.header{
    height: 80px;
    background-color: #EBE0E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-left: 20px;
    font-weight: 600;
    font-size: 26px;
    color: #2D2E46;
}

.logout{
    margin-right: 20px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #ECECF9;
    background-color: #007FFF;
}