.group {
    position: relative;
}

.buttonGroup {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.register {
    width: 187px;
    height: 36px;
    font-size: 16px;
    color: #ECECF9;
    background-color: #007FFF;
}

.cancel {
    width: 124px;
    height: 36px;
    background-color: #D7D8EF;
    color: #007FFF ;
    font-size: 16px;
}

